.expense-divider-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  align-content: center;
  align-items: center;
}

#data-container {
  /* height: 500px;  */
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 30px;
  border: 3px solid #4CAF50;
  display: flex;
}

.participants-form {
  display: block;
  align-items: center;
  align-content: center;
}
